.alert {
  margin: 20px 0;
  &.small {
    padding: 8px;
  }

  &.fixed {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 0;
    z-index: 2;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.promo-alert {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    margin: 0;
  }

  img {
    margin: 0 10px 0 0;
  }
}

.home-promo-alert {
  display: flex;
  position: relative;

  &__image-cover {
    flex-shrink: 0;
    margin: 0 8px 0 0;
  }

  &__content {
    font-size: 13px;
    line-height: 16px;
  }

  &__link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

.home-promo-banner {
  position: relative;
  margin: 25px 0;
  img {
    width: 100%;
  }

  &__link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}
