.footer {
  font-size: 14px;
  margin: 25px 0;

  &-group-link {
    margin: 16px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-link {
    margin: 0 10px;
    a {
      color: $textsecondary;
    }
  }

  &-logo {
    img {
      height: 55px;
    }
  }

  &-name {
    margin: 0;
  }
}

.powered-by-apps {
  text-align: center;

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin: 0 10px;
    }
  }

  a {
    color: $textsecondary;
    font-size: 14px;
    text-decoration: none;
  }

  .apps-logo {
    width: 75px;
  }
}

.footer-link {
  &--instagram {
    a {
      color: $textcolor;
      text-decoration: none;
      font-size: 14px;
    }
  }
}

.icon-instagram {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 0 4px 0 8px;
  background: url("../images/dist/instagram-logo.svg") no-repeat center/cover;
}
