.page-investment-action {
  .page-header-title,
  .page-header-description {
    font-size: 27px;
    font-weight: bold;
  }
  .page-header-title,
  .page-header-description {
    color: $textcolor;
  }

  .form-field {
    display: flex;
    justify-content: center;
    margin: 15px 0 25px;
  }

  .btn-max {
    border-radius: 0 4px 4px 0;
  }

  #count-field {
    max-width: 250px;
    text-align: center;
    margin: 0;
    width: 100%;
    border-radius: 4px 0 0 4px;
  }

  #app-action-button-bar .btn {
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    .balance-icon {
      width: 25px;
      height: 25px;
    }

    #price-value {
      margin: 0 8px 0 5px;
    }
  }

  .app-investment-info-price {
    align-items: flex-end;
    margin: 60px 0 60px;
    .dynamic-value {
      background-color: transparent;
      color: $textsecondary;
    }
    .value {
      font-size: 46px;
      line-height: 47px;
    }

    .dynamic-value {
      font-size: 18px;
    }
  }
}
