.page-investment {
  padding-top: 100px;
}

.app-investment {
  &-link {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    text-decoration: none;
  }

  &-item {
    position: relative;
    background-color: white;
    border-radius: 4px;

    padding: 16px 35px 16px 0;
    border-bottom: 1px solid $gray-1;

    display: flex;
    justify-content: space-between;

    &:last-child {
      border-bottom: 1px solid transparent;
    }

    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: calc(50% - 7px);
      right: 8px;
      width: 14px;
      height: 14px;
      transform: rotate(180deg);
      background: url("../images/dist/arrow.svg") no-repeat center/8px;
    }

    &.no-link {
      padding: 16px 16px 16px 0;
      &:after {
        display: none;
      }
    }

    &--brand {
      border-top: 1px solid $gray-1;
    }
  }

  &-item-group {
    display: flex;
    align-items: center;
    margin: 0 0 4px;
    min-height: 30px;
  }

  &-item-ticker {
    margin: 0;
    color: $textcolor;
    font-size: 20px;
    line-height: 22px;
  }

  &-item-image {
    margin: 0 8px 0 0;
    width: 28px;
  }

  &-item-price {
    color: $textcolor;
    font-size: 18px;
    text-align: right;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 8px;
  }
  .value {
    font-size: 18px;
    min-height: 30px;
  }

  .dynamic-value {
    font-size: 16px;
    margin-left: 4px;
  }

  .total-value {
    color: $textsecondary;
    font-size: 14px;
  }

  .dynamic-value.increase {
    color: $green;
  }

  .dynamic-value.decrease {
    color: $red;
  }
  &-item-presence {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $textsecondary;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    word-break: break-all;

    &:before {
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      margin: 0 10px 0 0;
      background: url("../images/dist/stack.svg") no-repeat center/cover;
    }
  }

  &-item-name {
    color: $textsecondary;
    margin: 0;
    text-align: left;
  }
}

.ffin-promo {
  &-header {
    margin: 25px 0 -25px;
    background: $gray;
    border-radius: 4px 4px 0 0;
    padding: 20px 16px;
    border-bottom: 1px solid $gray-1;

    &-title {
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      margin: 0 0 8px;
    }

    &-description {
      font-size: 14px;
      line-height: 18px;
      color: $textsecondary;
    }
  }
  &-wrapper {
    display: flex;
    justify-content: center;
    padding: 12px 0 0;
  }
  &-item {
    margin: 25px 0;
    background: $gray;
    border-radius: 4px;
  }

  &-cover {
    flex-shrink: 0;

    img {
      width: 135px;
      object-fit: cover;
      border-radius: 3px 0 0 3px;
    }
  }

  &-item-website {
    text-align: center;
  }

  &-item-description {
    font-size: 13px;
    line-height: 16px;
    padding: 8px;
    color: $textsecondary;
    text-align: center;
  }

  &-info-cover {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &-content {
    max-width: 210px;
    position: relative;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-item-title {
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    margin: 0 0 4px;
  }

  &-item-size,
  &-item-name,
  &-item-status {
    font-size: 14px;
    line-height: 18px;
    color: $textsecondary;
    margin: 0 0 4px;
  }

  &-item-email,
  &-item-website,
  &-item-phone {
    margin: 4px 0;
    font-size: 14px;
    line-height: 16px;
    a {
      font-size: 18px;
      line-height: 20px;
      color: $accent;
      text-decoration: none;
    }
  }

  &-item-phone {
    a {
      color: $textcolor;
    }
  }

  &-item-size {
    &:before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 8px 0 0;
      background: url("../images/dist/icon-size.svg") no-repeat center/10px;
    }
  }

  &-item-name {
    &:before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 8px 0 0;
      background: url("../images/dist/icon-city.svg") no-repeat center/10px;
    }
  }

  &-btn {
    margin: 12px 0 0;
  }
}

.ffin-app-link {
  text-align: center;

  .btn {
    font-size: 13px;
    text-decoration: none;
    background: #daf5ff;
  }
}

.ffin-app-licence {
  font-size: 12px;
  color: $textsecondary;
  text-align: center;
  margin: 8px 0 4px;
}

.ffin-app-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  margin: 12px 0 0;
}

.ffin-app-description {
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  color: $textsecondary;
  margin: 12px 0;
}

.ffin-app-description,
.ffin-app-title {
  max-width: 280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
