.app-investment-statistic {
  margin: 25px 0;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    background: $gray;
    border-radius: 4px;
    padding: 8px 8px 12px;
  }

  &-cover {
    img {
      height: 45px;
      margin: 0 16px 0 0;
    }
  }

  &-content {
    span {
      font-size: 16px;
      line-height: 16px;
      color: $textsecondary;
    }
    p {
      font-size: 18px;
      font-weight: bold;
      line-height: 16px;
      margin: 0;

      &.green {
        color: $green;
      }

      &.red {
        color: $red;
      }
    }
  }
}
