.estate {
  .app-investment-item-presence {
    &:before {
      content: "";
      display: none;
    }
  }

  &-price {
    position: relative;
    font-size: 24px;
    line-height: 26px;

    &.increase {
      color: $green;

      &:after {
        content: "";
        display: inline-block;
        width: 20px;
        height: 15px;
        background: url("../images/dist/arrow-up.svg") no-repeat center/12px;
      }
    }

    &.decrease {
      color: $red;

      &:after {
        content: "";
        display: inline-block;
        width: 20px;
        height: 15px;
        background: url("../images/dist/arrow-down.svg") no-repeat center/12px;
      }
    }
  }

  &-button-wrapper {
    display: flex;
    margin: 25px 0;
  }

  &-description {
    color: $textsecondary;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin: 25px 0;
  }
}

.page-estate {
  .winner-alert-title {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    line-height: 26px;
  }

  .app-investment-statistic-wrapper {
    margin: 0 0 8px;
  }
}

.estate-promo {
  &-header {
    margin: 25px 0 -25px;
    background: $gray;
    border-radius: 4px 4px 0 0;
    padding: 20px 16px;
    border-bottom: 1px solid $gray-1;

    &-title {
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      margin: 0 0 8px;
    }

    &-description {
      font-size: 14px;
      line-height: 18px;
      color: $textsecondary;
    }
  }
  &-item {
    display: flex;
    margin: 25px 0;
    background: $gray;
    border-radius: 4px;
  }

  &-cover {
    flex-shrink: 0;

    img {
      width: 135px;
      height: 135px;
      object-fit: cover;
      border-radius: 3px 0 0 3px;
    }
  }

  &-info-cover {
    width: 40%;
    height: 135px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &-content {
    position: relative;
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-item-title {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 4px;
  }

  &-item-size,
  &-item-name,
  &-item-status {
    font-size: 14px;
    line-height: 18px;
    color: $textsecondary;
    margin: 0 0 4px;
  }

  &-item-email,
  &-item-phone {
    font-size: 18px;
    line-height: 24px;
    color: $accent;
    margin: 0 0 4px;
    text-decoration: none;
  }

  &-item-size {
    &:before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 8px 0 0;
      background: url("../images/dist/icon-size.svg") no-repeat center/10px;
    }
  }

  &-item-name {
    &:before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 8px 0 0;
      background: url("../images/dist/icon-city.svg") no-repeat center/10px;
    }
  }

  &-btn {
    margin: 12px 0 0;
  }
}
