.page-header {
  margin: 32px 0;
  text-align: center;

  &-title {
    font-size: 27px;
    font-weight: bold;
  }

  &-description {
    color: $textsecondary;
    font-size: 18px;
    line-height: 22px;
  }
}
