.tab-payment {
  max-width: 240px;
  width: 100%;
  margin: 25px auto;

  .tab-label {
    width: 100%;
    text-align: center;
  }
  .tab-label-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}

.payment-tab-title,
.payment-tab-description {
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 22px;
}

.payment-tab-description {
  color: $textsecondary;
  margin: 15px auto 25px;
  font-size: 14px;
}

.icon-telegram-coin {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 8px;
  background: url("../images/dist/icon-telegram-star.svg") no-repeat
    center/cover;
}

.icon-kaspi--white {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 0 4px 0 8px;
  background: url("../images/dist/kaspi-logo-white.svg") no-repeat center/cover;
}

#promocode-field {
  border-radius: 4px 0 0 4px;
}

.page-payment .form-field {
  margin: 35px 0 0;
}

.payment-message {
  text-align: center;
  font-size: 14px;
  margin: 5px 0;

  &--error {
    color: $red;
  }

  &--success {
    color: $green;
  }
}

.page-payment #app-action-button-bar .btn {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
