.page-transactions {
  .tab {
    &-button {
      width: 100%;
      padding: 15px 15px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.transaction {
  &-item {
    background: $gray-3;
    border-radius: 4px;
    padding: 8px;
    margin: 0 0 16px;

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &:last-child {
      margin: 0;
    }
  }

  &-actions {
    width: 110px;
    flex-shrink: 0;
    text-align: center;

    .btn-details {
      margin: 8px 0 0;
      font-size: 14px;
      color: $accent;
      padding-left: 4px;
      padding-right: 4px;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  &-stats {
    width: 100%;
  }

  &-brand {
    display: flex;
    align-items: center;
    margin: 0 0 4px;
  }

  &-name {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }
  &-stock {
    margin: 0 0 0 8px;
    font-size: 14px;
    color: $textsecondary;
  }

  &-row {
    font-size: 14px;
    line-height: 18px;
    &_label {
      color: $textsecondary;
    }
  }
}

.transaction-item-details {
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;

  margin: 8px 0 0;
  padding: 8px 0;
}

.transaction-item-details.expanded {
  display: block;
}

.details {
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    font-size: 12px;
    border-bottom: 1px solid $gray-1;

    &:last-child {
      border-bottom: none;
    }

    .app-investment-item-image {
      width: 20px;
    }

    .transaction-brand {
      margin: 0 4px;
    }
  }

  &-col {
    margin: 0 8px 0 0;
    &--status {
      width: 55px;
      flex-shrink: 0;
    }

    &--date {
      flex-shrink: 0;
      text-align: center;
    }

    &--info {
      text-align: right;
    }

    &:last-child {
      margin: 0;
    }
  }

  &-row {
    display: flex;
    justify-content: space-between;
  }
}
