// USER VARIABLES SECTION
$gray: #F7F7F7
$gray-1: #E6EEF5
$gray-2: #e9e9e9
$gray-3: #F6F8FA
$gray-4: #F9FBFC
$gray-5: #B5B5B5
$purple: #731aab
$accent: #0049e8 // Accent Color
$accent-hover: #003fc7 // Accent Color

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap')

$green: #198754
$green-2: #155724
$green-bg: #D4EDDA
$green-border: #C3E6CB

$red: #dc3545

// NEW COLORs
$vRed: #ff002e
$vRed2: #FC3D2B
$vGray: #f9f9f9
$vGrayBtnBg: #636A78
$vTextGray: #535862
$vTextGray2: #383838
$vText: #202020
$vText2: #252525
$vGreen: #29BA65
$vAccent: #3399FF
$vYellow: #FFF04B
$vBlueGreen: #00B0BD
$vOrange: #F07C00

$fontsize: 16px // Body Font Size
$textcolor: #222222
$textsecondary: #667791
$lineheight: 1.65
$systemfont: 'Inter', -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px
$gutter: $grid-gutter-width

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
  @font-face
    font-family: $fname
    font-style: $fstyle
    font-weight: $fweight
    src: url($furl) format("woff2")

// GENERAL CSS SETTINGS

::placeholder
  color: #666

body
  font-size: $fontsize
  line-height: $lineheight
  color: $textcolor
  min-width: 320px
  position: relative
  overflow-x: hidden
  padding: 0
  margin: 0
  font-family: $systemfont

.app
  max-width: 390px
  width: 100%
  margin: 0 auto
  min-height: 100vh
  padding-bottom: 15px

.w-49
  width: 49%

.w-48
  width: 48%

.color-red 
  color: $red

.color-green
  color: $green