.page-with-nav {
  padding-top: 56px;
}
#v-header {
  max-width: 390px;
  width: 100%;
  background: $vGray;

  margin: 0 auto;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 56px;
    padding: 10px 15px;
  }
}

.v-header--mobile {
  top: calc(40px + var(--tg-content-safe-area-inset-top));
}

.v-route-name {
  font-size: 18px;
}

.v-profile {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  text-decoration: none;

  &-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--bronze {
      background: linear-gradient(180deg, #e7c48a 0%, #dd793f 100%);

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: url("../images/dist/profile-bg--bronze.svg") no-repeat
          center/cover;
      }

      .v-profile__label {
        color: #733012;
      }
    }

    &--silver {
      background: linear-gradient(180deg, #e1e1e1 0%, #bebebc 100%);

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: url("../images/dist/profile-bg--silver.svg") no-repeat
          center/cover;
      }

      .v-profile__label {
        color: #61636c;
      }
    }

    &--gold {
      background: linear-gradient(180deg, #f5e64b 0%, #e7ba2b 100%);

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: url("../images/dist/profile-bg--gold.svg") no-repeat
          center/cover;
      }

      .v-profile__label {
        color: #ba6a16;
      }
    }

    &--platinum {
      background: linear-gradient(180deg, #e9f3f2 0%, #c7d7e7 100%);

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: url("../images/dist/profile-bg--platinum.svg") no-repeat
          center/cover;
      }

      .v-profile__label {
        color: #6678c3;
      }
    }
  }

  &-indicator {
    position: absolute;
    top: 5px;
    right: -4px;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $vRed;
    transition: background 0.3s ease;
  }

  img {
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
  }

  p {
    font-weight: 600px;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
  }
}
