.v-bill-page {
  .page-icon {
    left: 0;
  }
}

.v-bill {
  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    margin: 20px 0 8px;
    text-align: center;
  }

  &__description {
    font-size: 14px;
    line-height: 17px;
    margin: 8px 0 12px;
    text-align: center;
    color: $vTextGray;
  }

  &__list {
    margin: 24px 0 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    min-height: 52px;

    background: #f9f9f9;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24);
    border-radius: 8px;

    margin: 0 0 12px;

    &:last-child {
      margin: 0;
    }
  }

  &__item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-icon {
    margin: 0 12px 0 0;
    img {
      width: 36px;
      height: 36px;
      object-fit: cover;
      border-radius: 100%;
    }
  }

  &__item-label,
  &__value {
    color: $vText;
    font-size: 14px;
    line-height: 17px;
  }
}

.v-bill-transfer {
  background: white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  padding: 32px 8px;
  margin: 40px 0 0;

  &__title {
    text-align: center;
    font-size: 16px;
    line-height: 21px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    margin: 28px 0;
  }

  &__col {
    width: 48%;

    .v-field {
      width: 100%;
    }

    .v-vield-wrapper {
      margin: 0;
    }
  }

  &__col-label {
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 12px 12px;
    color: $vTextGray;
  }

  .v-field__result {
    border-color: transparent;
    box-shadow: unset;
  }

  &__btn-wrapper {
    text-align: center;

    .v-btn {
      min-width: 140px;
    }
  }
}
