.v-bonds {
  &__currency-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
  }

  &__currency-item {
    width: 48%;
    min-height: 120px;
    border-radius: 16px;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24);
  }

  &__currency-label {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    color: $vText;
    margin: 8px 0 0;

    img {
      margin: 0 8px 0 0;
    }
  }

  &__currency-description {
    font-size: 14px;
    line-height: 17px;
    color: $vTextGray;
    margin: 8px 0 0;
  }

  &__currency-btn {
    width: 100%;
    margin: 32px 0 0;
  }

  &__list {
    color: $vTextGray;

    a {
      text-decoration: none;
      color: $vAccent;
    }
  }

  &__form {
    margin: 30px 0;
    border-radius: 16px;
    background: white;
    padding: 32px 20px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24);
  }

  &__form-title {
    color: $vText;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }

  &__form-description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $vTextGray;
  }

  &__form {
    .v-field {
      width: 100%;
    }
  }

  &__form-btn-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__form-btn {
    width: 48%;
  }

  &__history {
    margin: 30px 0;
    color: $vTextGray;
    font-size: 14px;

    &-item {
      margin: 0 0 8px;

      &:last-child {
        margin: 0;
      }
    }

    span {
      margin: 0 20px 0 0;
    }

    &-item-date {
      font-size: 12px;
    }
  }

  &__modal {
    .v-modal {
      width: 256px;
      text-align: center;
    }
  }

  &__modal-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: $vText;
    margin: 0 0 12px;
  }

  &__modal-value {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: $vText;
    margin: 0 0 12px;
  }
  &__modal-growth {
    &--up {
      color: $vGreen;
    }

    &--down {
      color: $vRed;
    }
  }

  &__modal-btn {
    width: 160px;
    margin: 20px 0 0;
  }
}

.v-bonds-promo {
  margin: 20px 0 44px;
  text-align: center;
}
.v-bonds-promo__logo {
  width: 200px;

  &--small {
    width: 94px;
  }
}
.v-bonds-promo__text {
  font-size: 10px;
  line-height: 12px;
  color: $vTextGray;
  max-width: 260px;
  width: 100%;
  margin: 12px auto;
}

.v-bonds-promo__btn {
  height: 31px;
}
