.home-promo-banner {
  margin: 25px 0;
  position: relative;
}
.home-promo-banner img {
  width: 100%;
}
.home-promo-banner__link {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

body {
  background: $vGray;
}

.page {
  background: $vGray;
}

.link {
  color: $vAccent;
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    width: 15px;
    margin: 0 4px 0 0;
    background: url("../images/dist/link.svg") no-repeat center/cover;
  }
}

.icon-instagram {
  background: url(../images/dist/instagram-logo.svg) no-repeat 50% / cover;
  display: inline-block;
  height: 20px;
  margin: 0 4px 0 8px;
  vertical-align: middle;
  width: 20px;
}

.footer {
  font-size: 14px;
  margin: 25px 0;
}

.footer-group-link {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0;
  justify-content: center;
}
.footer-link {
  margin: 0 10px;
}
.footer-link--instagram a {
  color: #222;
  font-size: 14px;
  text-decoration: none;
}

.footer-name {
  margin: 0;
}
.powered-by-apps {
  text-align: center;
}
.powered-by-apps a {
  color: #667791;
  font-size: 14px;
  text-decoration: none;
}
.powered-by-apps-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.powered-by-apps-container p {
  margin: 0 10px;
}
.powered-by-apps .apps-logo {
  width: 75px;
}
.v-route-information {
  margin: -5px 8px 0;
}

.v-ffin-promo {
  &-header {
    margin: 25px 0 -25px;
    background: $gray;
    border-radius: 4px 4px 0 0;
    padding: 20px 16px;
    border-bottom: 1px solid $gray-1;

    &-title {
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      margin: 0 0 8px;
    }

    &-description {
      font-size: 14px;
      line-height: 18px;
      color: $textsecondary;
    }
  }
  &-wrapper {
    display: flex;
    justify-content: center;
    padding: 12px 0 0;
  }
  &-item {
    margin: 25px 0;
    background: $gray;
    border-radius: 4px;
  }

  &-cover {
    flex-shrink: 0;

    img {
      width: 135px;
      object-fit: cover;
      border-radius: 3px 0 0 3px;
    }
  }

  &-item-website {
    text-align: center;
  }

  &-item-description {
    font-size: 10px;
    line-height: 12px;
    padding: 0;
    color: rgba(83, 88, 98, 1);
    text-align: center;
    margin: 0 0 8px;
  }

  &-info-cover {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &-content {
    max-width: 210px;
    position: relative;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-item-title {
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    margin: 0 0 4px;
  }

  &-item-size,
  &-item-name,
  &-item-status {
    font-size: 14px;
    line-height: 18px;
    color: $textsecondary;
    margin: 0 0 4px;
  }

  &-item-email,
  &-item-website,
  &-item-phone {
    margin: 4px 0;
    font-size: 14px;
    line-height: 16px;
    a {
      font-size: 18px;
      line-height: 20px;
      color: $accent;
      text-decoration: none;
    }
  }

  &-item-phone {
    a {
      color: $textcolor;
    }
  }

  &-item-size {
    &:before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 8px 0 0;
      background: url("../images/dist/icon-size.svg") no-repeat center/10px;
    }
  }

  &-item-name {
    &:before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 8px 0 0;
      background: url("../images/dist/icon-city.svg") no-repeat center/10px;
    }
  }

  &-btn {
    margin: 12px 0 0;
  }
}

.v-ffin-app-link-wrapper {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.v-ffin-app-link {
  display: block;
  padding: 8px 16px;

  width: 157px;
  height: 31px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  text-align: center;
  text-decoration: none;

  background: linear-gradient(90deg, #7bafe3 0%, #1bd58d 26.44%, #80ff61 100%);
  border-radius: 8px;

  &:hover {
    color: #000;
  }
}

.v-ffin-app-licence {
  font-size: 12px;
  color: $textsecondary;
  text-align: center;
  margin: 8px 0 4px;
}

.v-ffin-app-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  margin: 12px 0 0;
}

.v-ffin-app-description {
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: $textsecondary;
  margin: 12px 0;
}

.v-ffin-app-description,
.v-ffin-app-title {
  max-width: 280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
