.v-intro__page {
  .page-icon {
    left: 0;
  }
  .page-with-icon {
    padding-bottom: 200px;
  }
}

.v-intro {
  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    margin: 20px 0 8px;
    text-align: center;
  }

  &__description {
    font-size: 14px;
    line-height: 17px;
    margin: 8px 0 12px;
    text-align: center;
    color: $vTextGray;
  }

  &__time {
    font-size: 12px;
    line-height: 15px;
    margin: 12px 0 20px;
    text-align: center;
    color: $vTextGray;
  }
}

.iframe-responsive {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.iframe-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.v-intro__video {
  overflow: hidden;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.24));
  border-radius: 16px;
}

.v-intro__btn-wrapper {
  text-align: center;
  margin: 40px 0 0;

  .v-btn {
    min-width: 180px;
    height: 44px;
    font-size: 14px;
    line-height: 17px;
  }
}
.v-intro__btn-description {
  font-size: 12px;
  line-height: 15px;
  margin: 8px 0 12px;
  text-align: center;
  color: $vTextGray;
}
