.s-profile-page {
  padding-bottom: 150px;
}

.s-profile {
  &__status {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 19px 20px;
    overflow: hidden;
    margin: 20px 0;

    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24);
    border-radius: 16px;

    .v-btn--disabled {
      pointer-events: none;
    }

    &--bronze {
      .s-profile__status-cup {
        position: absolute;
        right: 0;
        bottom: 0;
      }

      .s-profile__status-btn {
        padding: 8px 16px;
        width: 174px;
        height: 31px;
        background: linear-gradient(180deg, #0f87ff 0%, #746dfa 71.63%);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
        border-radius: 8px;
        font-size: 12px;
        line-height: 15px;
        color: white;
        margin: 0 0 4px;
      }
      background: conic-gradient(
        from 181.59deg at 50% 50%,
        #d88d54 -37.54deg,
        #f1bd93 23.88deg,
        #e49f64 43.27deg,
        #eb9449 110.8deg,
        #f1bd93 204.82deg,
        #d88d54 322.46deg,
        #f1bd93 383.88deg
      );
    }

    &--silver {
      .s-profile__status-cup {
        position: absolute;
        left: 0;
        bottom: 0;
      }

      .s-profile__status-btn {
        padding: 8px 16px;
        width: 174px;
        height: 31px;
        background: linear-gradient(180deg, #0f87ff 0%, #746dfa 71.63%);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
        border-radius: 8px;
        font-size: 12px;
        line-height: 15px;
        color: white;
        margin: 0 0 4px;
      }
      background: conic-gradient(
        from -18.19deg at 50% 50%,
        #9b9187 -43.52deg,
        #cec0b1 76.9deg,
        #cec0b1 85.09deg,
        #938a7f 154.04deg,
        #cec0b1 271.56deg,
        #9b9187 316.48deg,
        #cec0b1 436.9deg
      );
    }

    &--gold {
      .s-profile__status-cup {
        position: absolute;
        right: 0;
        bottom: 0;
      }

      .s-profile__status-btn {
        padding: 8px 16px;
        width: 174px;
        height: 31px;
        background: #9f9f9f;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
        border-radius: 8px;
        font-size: 12px;
        line-height: 15px;
        color: white;
        margin: 0 0 4px;
      }
      background: conic-gradient(
        from -18.19deg at 50% 50%,
        #c3811e -7.61deg,
        #fbd334 85.09deg,
        #d68c17 209.35deg,
        #fac241 283.32deg,
        #fbab07 316.48deg,
        #c3811e 352.39deg,
        #fbd334 445.09deg
      );
    }
  }

  &__status-title {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 16px;
  }

  &__status-description {
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin: 8px 0 0;
  }
}

.s-profile__referral {
  padding: 20px;

  background: #ffffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24);
  border-radius: 16px;

  &-title {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 4px;
  }

  &-description,
  &-description2 {
    font-size: 12px;
    line-height: 15px;
    color: #383838;
    margin: 0 0 16px;
  }

  &-description2 {
    max-width: 300px;
    width: 100%;
    margin: 16px auto 0;
  }

  &-link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 52px 0 12px;
    font-size: 12px;
    line-height: 15px;
    color: #535862;
    width: 100%;
    height: 48px;

    background: #ffffff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
  }

  &-copy-btn {
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    align-items: center;
    height: 100%;
    background: transparent;
    border: none;
  }
}

.s-profile {
  &__nav-item {
    display: block;
    position: relative;
    padding: 16px 46px 16px 32px;
    text-decoration: none;
    background: #ffffff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    margin: 12px 0;
  }

  &__nav-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 4px;
  }

  &__nav-description {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #383838;
    margin: 0;
  }

  &__nav-icon {
    position: absolute;
    width: 32px;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.s-profile {
  &__form {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
  }

  &__input-file {
    display: none;
  }

  &__form-row {
    position: relative;
    margin: 0 0 20px;
  }
  &__form-row-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
  }
  &__form-file {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: #cbcbcb;
    border-radius: 100px;
    text-align: center;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.24));
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__form-file-icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__form-label {
    position: absolute;
    height: 12px;
    left: 16px;
    top: 4px;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #737373;
    z-index: 1;
  }

  &__form-input {
    padding: 20px 16px 8px;
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

    &--link {
      color: #3399ff;
      text-indent: 20px;
    }

    &:focus-visible {
      border: none;
      outline: none;
    }
  }

  &__form-area {
    padding: 20px 16px 8px;
    width: 100%;
    height: 88px;
    background: #ffffff;
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

    &--link {
      color: #3399ff;
      text-indent: 20px;
    }

    &:focus-visible {
      border: none;
      outline: none;
    }
  }

  &__form-input--link-icon {
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

.s-profile__form-row--avatar {
  display: flex;
  align-items: center;
}

.s-profile__form-nickname {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 0 24px;
}

.s-profile__form-row {
  .iti__country-container {
    top: 12px;
    left: 7px;
  }
}

.s-profile__form-btns {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;

  .v-btn {
    width: 100%;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
