.v-registration {
  .v-field {
    width: 100%;
  }

  &-logo {
    margin: 20px auto 16px;
    text-align: center;
    img {
      width: 120px;
    }
  }

  .iti__country-container {
    left: 15px !important;
  }
  .iti input.iti__tel-input[type="tel"] {
    padding-left: 70px !important;
  }
  .phone-wrapper {
    margin: 0 0 20px;
  }

  .v-btn {
    display: block;
    width: 180px;
    height: 44px;
    font-size: 14px;
    margin: 0 auto;
  }

  &-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    margin: 0 0 8px;
  }

  &-description {
    max-width: 290px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 auto 32px;
    color: $vTextGray;
  }
}

.v-policy {
  margin: 32px 0;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
}

.v-radio-gender {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.v-radio-gender input {
  display: none;
}

.v-radio-gender span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid #ededed;
  border-radius: 8px;
  background: white;
  position: relative;
  margin-right: 8px;
  transition: background 0.2s, border-color 0.2s;
}
.v-radio-gender--male span svg path {
  fill: rgba(196, 232, 254, 1);
}

.v-radio-gender--male input:checked + span {
  border: 1px solid rgba(75, 186, 255, 1);
}

.v-radio-gender--male input:checked + span svg path {
  fill: rgba(75, 186, 255, 1);
}

.v-radio-gender--female span svg path {
  fill: rgba(255, 202, 233, 1);
}

.v-radio-gender--female input:checked + span {
  border: 1px solid rgba(255, 107, 194, 1);
}

.v-radio-gender--female input:checked + span svg path {
  fill: rgba(255, 107, 194, 1);
}

.v-gender-field {
  display: flex;
  align-items: center;
  margin: 0 0 20px;

  p {
    color: $vTextGray;
    font-size: 14px;
    margin: 0 20px 0 12px;
  }
}

.isinvalid-feedback {
  color: $vRed;
  font-size: 12px;
  margin: 8px 12px 12px;
}
