.v-subscription-page {
  background-color: white;
}

.v-subscription {
  &__page-wrapper {
    margin: 40px 0 16px;
    text-align: center;
  }

  &__page-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__page-description {
    font-size: 14px;
    line-height: 17px;
  }

  &__card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0 12px;
  }

  &__card {
    width: 49%;
    margin-bottom: 8px;
    padding: 22px 12px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24);
    border-radius: 8px;

    &--gray-bg {
      background: rgba(202, 156, 201, 0.12);
    }
  }

  &__card-icon {
    height: 44px;
    margin: 0 0 12px;

    img {
      height: 44px;
    }
  }

  &__card-label {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    margin-bottom: 4px;
  }

  &__card-description {
    font-size: 12px;
    line-height: 15px;
    margin: 0;
  }

  &__card--container {
    padding: 0;
    box-shadow: unset;
  }

  &__card--small {
    width: 100%;
    margin: 0 0 8px;
    height: calc(50% - 4px);
    padding: 12px;

    &:last-child {
      margin: 0;
    }
  }

  &__card--bg-yellow {
    background-color: rgba(241, 139, 0, 0.12);
  }

  &__card--bg-blue {
    background-color: rgba(51, 153, 255, 0.12);
  }

  &__feature-list {
    margin: 12px 0 36px;
    list-style: none;
    padding: 0;
  }

  &__feature {
    display: flex;
    align-items: center;
    padding: 8.5px 4px;
    margin: 0 0 4px;
    font-size: 12px;
    line-height: 15px;

    &:nth-child(even) {
      background-color: rgba(247, 247, 247, 1);
    }

    &:before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      margin: 0 8px 0 0;
      background: url("../images/dist/check-mark.svg") no-repeat center/cover;
    }
  }

  &__radio-group {
    display: flex;
    justify-content: space-between;
    margin: 0 0 28px;
  }

  &__radio {
    width: 100%;
    position: relative;
  }

  &__radio-label {
    position: relative;
    display: block;
    padding: 12px 14px;

    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    cursor: pointer;
    z-index: 3;

    div {
      position: relative;
      z-index: 3;
    }

    &:before {
      content: "";
      display: block;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      position: absolute;
      left: 1px;
      right: 1px;
      top: 1px;
      bottom: 1px;
      background-color: white;
      border-radius: 16px;
      pointer-events: none;
      z-index: 2;
    }
  }

  &__radio {
    margin: 0 4px;
    input[type="radio"] {
      position: absolute;
      top: 0;
      left: -999px;
      opacity: 0;
      visibility: hidden;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__radio-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    margin: 0 0 8px;
    color: rgba(32, 32, 32, 1);
  }

  &__radio-description {
    font-size: 10px;
    line-height: 12px;
    margin: 0 0 8px;
    color: rgba(56, 56, 56, 1);
  }

  &__radio-value {
    display: flex;
    align-items: center;
    height: 31px;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    color: rgba(32, 32, 32, 1);
  }

  &__form {
    .v-btn-subscription {
      margin: 0 0 12px;
    }
  }

  &__policy {
    font-size: 12px;
    line-height: 15px;
    margin: 12px 0 32px;
    text-align: center;
    color: rgba(56, 56, 56, 1);

    a {
      color: rgba(51, 153, 255, 1);
    }
  }

  &__lvl {
    padding: 20px;
    margin: 25px 0 16px;
    border-radius: 16px;
    text-align: center;

    &--silver {
      background: conic-gradient(
        from -22deg at 48.84% 33.33%,
        #9b9187 -43.52deg,
        #e1d5c7 76.9deg,
        #dcd7d2 85.09deg,
        #938a7f 154.04deg,
        #bababa 271.56deg,
        #9b9187 316.48deg,
        #e1d5c7 436.9deg
      );
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24);
    }

    &--gold {
      background: conic-gradient(
        from -18.19deg at 50% 50%,
        #c3811e -7.61deg,
        #fbd334 85.09deg,
        #d68c17 209.35deg,
        #fac241 283.32deg,
        #fbab07 316.48deg,
        #c3811e 352.39deg,
        #fbd334 445.09deg
      );
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24);
    }
  }

  &__lvl-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin: 0 0 8px;
  }

  &__lvl-description {
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin: 0;
  }
}

input[type="radio"]:checked + .v-subscription__radio-label {
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;

    background: linear-gradient(180deg, #3399ff 0%, #8e88ff 100%);

    z-index: 1;
    pointer-events: none;
  }
}

.v-modal__subscription-description {
  font-size: 14px;
  list-height: 17px;
  margin: 0 0 8px;
}

.v-subscription__placeholder {
  text-align: center;
  color: #d5d5d5;
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
  margin: 0 0 8px;
}
