.v-tabs {
  display: flex;
}
.v-tab-button {
  background: none;
  border: none;
  font-weight: 600;
  font-size: 18px;
  color: $vTextGray;
  line-height: 21px;
  cursor: pointer;
  font-size: 16px;
  padding: 20px 0;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}

.v-tab-button.active {
  color: $vAccent;
  border-bottom: 1px solid $vAccent;
}

.v-tab-content {
  padding: 10px;
}

.v-tab-pane {
  display: none;
}

.v-tab-pane.active {
  display: block;
}
